#
#   Copyright (C) 2021 ABZ Conference <https://abz-conf.org>
#   All rights reserved.
#
#   Developed by: Philipp Paulweber et al.
#                 <https://github.com/abz-conf/abz-conf.github.io>
#
#   This file is part of abz-conf.github.io.
#
#   TODO
#

[submodule ".github/lib/hugo-academic"]
	path = .github/lib/hugo-academic
	url = https://github.com/gcushen/hugo-academic.git
