#
#   Copyright (C) 2021-2022 ABZ Conference <https://abz-conf.org>
#   All rights reserved.
#
#   Developed by: Philipp Paulweber et al.
#                 <https://github.com/abz-conf/abz-conf.github.io/graphs/contributors>
#
#   This file is part of abz-conf.github.io.
#
#   abz-conf.github.io is licensed under a
#   Creative Commons Attribution 4.0 International License.
#
#   You should have received a copy of the license along with this
#   work. If not, see <http://creativecommons.org/licenses/by/4.0/>.
#

/.attic
/.github/obj
/.github/src/themes/academic
