{{- define "main" -}}

{{ $twitter := .Params.twitter }}
{{ $twitter_id     := $twitter.id }}
{{ $twitter_width  := $twitter.width  | default "400" }}
{{ $twitter_height := $twitter.height | default "650" }}


<article class="article">

  {{ partial "page_header" . }}

  <!-- div class="article-container" -->
  <div class="universal-wrapper">

    {{ if .Params.use_twitter }}
      <div class="row">
        <div class="col-md-8">
          {{ .Content }}
        </div>
        <div class="col-md-4">
          <meta name="card:dnt" content="on">
          <div style="text-align: center; cursor: pointer;" class="card" >
              <div class="card-body" >
                  <h5 class="card-title" style="text-align:left;">Contact Us:</h5>
                  <h7 class="card-title"><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></h7>
              </div>
          </div>
          <div style="text-align: center;">
      <meta name="twitter:dnt" content="on">
      <a class="twitter-timeline"
         data-dnt="true"
         data-theme="light"
         data-width={{ $twitter_width }}
         data-height={{ $twitter_height }}
         data-chrome="noheader nofooter transparent noscrollbar"
         href="https://twitter.com/{{ $twitter_id }}">Tweets by @{{ $twitter_id }}
      </a>
      <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <!-- script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script -->
          </div>
        </div>
    </div>
    
    {{ else }}
      <div class="article-style">
        {{ .Content }}
      </div>

      {{ partial "page_footer" . }}
    {{end}}
  </div>
</article>

{{- end -}}
